# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
/node_modules
/.tmp
/bower_components
.idea
/public
*.iml
out
gen
